<NavLink class="nav-link card shadow-sm" href="@Path.ChangeExtension(PostUri, null)">
    <div class="card-header">
        <h1>@Title</h1>
    </div>
    <div class="card-body">
        <p class="card-text">@Summary</p>
        <div class="d-grid">
            <small class="text-body-secondary">@(PublishedDateTime)에 게시됨.</small>
            @if (UpdatedDateTime != PublishedDateTime)
            {
                <small class="text-body-secondary">@(UpdatedDateTime)에 수정됨.</small>
            }
        </div>
    </div>
    @if (Tags.Length > 0)
    {
        <div class="card-footer">
            @foreach (var item in Tags)
            {
                <div class="badge bg-secondary me-1">@item</div>
            }
        </div>
    }
</NavLink>

@code
{
    /// <summary>
    /// PostUri는 wwroot를 기준으로 전체 파일 경로를 전달받아야합니다. 확장자 여부는 상관없습니다. <br />
    /// Ex. posts/category/post.md 또는 posts/category/post
    /// </summary>
    [Parameter]
    public required string PostUri { get; set; }
}
